@CHARSET "UTF-8";
.logo{
	margin-top:10px;
	margin-left: 10px;
	border-radius: 15px;
}

 #fixed-sidebar {
  	position: fixed;
  	left: 10px;
  	top: 35%;
  	width: 40px;
  	height: 20%; 
  	margin-top: -2.5em;
  	z-index:1;
  	border-radius: 10px 10px 10px 10px;
	}
	
.icon {
  	width: 80%;
  	height:80%;
  	margin-left: 5px;
  	margin-bottom:5px;
  	z-index:1;
  	border-radius: 50% 50% 50% 50%;
  	opacity: .6;
	}
	
.LoadingImage{
	position:absolute;
	left:40%;
	top: 90px;
	width: 100px;
	height: 100px;
	z-index:3;
}

.box-shadow-effect{
	box-shadow: 0 5px 10px #666666;
	background-color: #123a45 !important;
	border-color: #123a45 !important; 
}

.box-shadow-effect-footer{
	box-shadow: 0 -5px 10px #666666;
	background-color: #123a45 !important;
	border-color: #123a45 !important;
}

h4{
	color:white !important;
}

h5{
	color:white !important;
}
.goToTop{
	width: 35px;
	height: 35px;
	position: fixed;
	top:80%;
	right:10px;
	background-color: #144321;
	color:#ea9123;
	border-radius:50% 50% 50% 50%;
	font-size: 25px;
	text-align: center;
	vertical-align: middle;
	opacity: .7;
}
.goToTop:hover{
	opacity: 1;
	box-shadow: 5px 5px 5px #888888;
}
#dayWiseMenu{
	position: fixed;
  	right: -10px;
  	top: 35%;
  	width: 40px;
  	margin-top: -2.5em;
  	z-index:1;
  	border-radius: 10px 10px 10px 10px;
}
.dayWiseOption{
	width: 80%;
  	height:25px;
  	margin-left: 5px;
  	margin-bottom:1px;
  	text-align: center;	
  	z-index:1;
  	opacity: .6;
  	background: #144321;
  	border-radius: 10px 0 0 10px;
} 
.userImage{
	height: 170px;
	width: 150px;
	margin: 15px;
}
