@* contactUs Template File *@
@(param: String)
@main(param){
	<div class="container-fluid" style="font-family:'Roboto Condensed', sans-serif;">
	@header()
		<div class="col-md-12 col-xs-12">
			<div id="map-canvas">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-12"  style="margin-top: 15px !important;">
				<div class="col-md-4 col-xs-12">
					<div class="panel">
						<div class="panel-heading"><b></>DEVELOPMENT OFFICE</b></div>
						<div class="panel-body" style="height: 150px;">
							Knoldus House<br>
							30/29, 1st Floor<br>
							Above UCO Bank, Near Siddhartha Hotel<br>
							East Patel Nagar, New Delhi - 110008, India <br>
							<span class="glyphicon glyphicon-phone-alt"></span> +91-1142316525 <br> 
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-12">
					<div class="panel">
						<div class="panel-heading"><b></>USA OFFICE</b></div>
						<div class="panel-body" style="height: 150px;">
							Knoldus LLC<br>
							743, Catamaran Street<br>
							Foster City, CA - 96024<br>
							USA<br>
							<span class="glyphicon glyphicon-phone-alt"></span> +(1) 650-425-7790<br>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-12">
					<div class="panel">
						<div class="panel-heading"><b></>CANADA OFFICE</b></div>
						<div class="panel-body" style="height: 150px;">
							Knoldus Inc<br>
							295 Hagey Blvd #300<br>
							University of Waterloo<br>
							Waterloo, ON N2L 6R5<br>
							<span class="glyphicon glyphicon-phone-alt"></span> +(1) 650-425-7790 <br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
