@* datepicker Template File *@
            
<div class="container">
    <div class="row">
        <div class='col-sm-3'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
									$(function() {
										$('#datetimepicker1').datetimepicker()										
										$('#datetimepicker1').change(
														function() {
															var start = $('#datetimepicker1').data('datetimepicker').getDate();
															$.ajax({
																		url : "/ajaxcall",
																		type : "GET",
																		data : {
																			start : start	
																		}
																	});
															});
								});
								</script>
    </div>
</div>
