@* dayWiseMenu Template File *@
<div id="dayWiseMenu">
	<div class="dayWiseOption">
		<a href="#Person1" class="smoothScroll">D1</a>
	</div>
	<div class="dayWiseOption">
		<a href="#Person2" class="smoothScroll">D2</a>
	</div>
	<div class="dayWiseOption" >
		<a href="#Person3" class="smoothScroll">D3</a>
	</div>
	<div class="dayWiseOption" >
		<a href="#Person4" class="smoothScroll">D4</a>
	</div>
	<div class="dayWiseOption" >
		<a href="#Person5" class="smoothScroll">D5</a>
	</div>
	<div class="dayWiseOption" >
		<a href="#Person6" class="smoothScroll">D6</a>
	</div>
	<a href="#top" class="smoothScroll goToTop"><span class= "glyphicon glyphicon-chevron-up"></span></a>
</div>
