@* footer Template File *@
<div class="row">
	<div class="footer" style="margin-top: 10px;">
			<div class="col-md-12 col-xs-12" style="color:white; background: rgba(70,149,174,0.8); !important;">
				<div class="col-md-4 col-xs-12">
					<a href="https://www.facebook.com/KnoldusSoftware"><img class="icon" src="@routes.Assets.at("images/FB.png")"></a>
					<a href="https://twitter.com/knolspeak"><img class="icon" src="@routes.Assets.at("images/twitter.jpg")"></a>
					<a href="https://plus.google.com/115266336460923432817/about"><img class="icon" src="@routes.Assets.at("images/gplus.png")"></a>
					<a href="#top" class="smoothScroll goToTop"><span class= "glyphicon glyphicon-chevron-up"></span></a>
				</div>
				<div class="col-md-4 col-xs-12" style="padding-top: 10px;">Knoldus Software LLP  &#169; All Rights Reserved</div>
				<div class="col-md-4 col-xs-12"></div>
			</div>
	</div>
</div>
