@* recordTemplate Template File *@
<div class="col-md-12 col-xs-12" style="background: #61C9E6;">
	<div class="col-md-12 col-xs-12" style="padding: 10px; background: #4695AE; color: #FFF;"> 
		<b>Date:</b> {{sessiondata.Date}} 
		<b>Time:</b> {{sessiondata.Time}}
	</div>
	<div data-ng-repeat="infos in userDetails" style="vertical-align:top;">
		@modal()
		<div class="col-md-3 col-xs-12" id="record{{infos.topicId}}" style="padding: 5px; border-radius:0 0 15px 15px;">
			<div data-ng-bind="infos.topic" class="col-md-12 col-xs-12" style="color: #FFF;" ></div>
			<div class="col-md-12 col-xs-12" style="font-size: 10px;">
				 {{infos.room}} 
			</div>
			<div class="col-md-6 col-xs-6">
				<img data-ng-if="infos.image" title={{infos.name}} width="50px" height="50" style="margin: 5px; border-radius: 50% 50% 50% 50%; border: solid 2px white;"
   	    			src="{{infos.image}}">
				<div data-ng-bind="infos.name" style="font-size: 12px;"></div>
				<div data-ng-bind="infos.twitterId" style="font-size: 12px;"></div>
			</div>
			<div class="col-md-12 col-xs-12">
				<my-chart chartid="infos.topicId"></my-chart>
				<my-link linkid="infos.topicId"></my-link>
			</div>
		</div>
	</div>
</div>
