@* sessions Template File *@
@(param :play.api.libs.json.JsValue)
@main("Sessions") {
	@header()
<div data-ng-app="MyApp" class="container-fluid" id="mainDiv">
	<div data-ng-controller="MyController">
		<div data-ng-repeat="scalaDaysSessionData in details">
			<div class="row" style="font-family: Roboto Condensed, sans-serif;">
				<div class="col-md-12 col-xs-12" id="{{scalaDaysSessionData.TopicId}}">
					<div class="panelHead">
				    	<scaladay-session-data sessiondata="scalaDaysSessionData" class="panelHead"> </scaladay-session-data>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/ng-template" id="userDetails.htm">
		@recordTemplate()	
 	</script>
 	@footer()
</div>
}