@* showData Template File *@
@import play.api.libs.json.Json
@(jsonData: play.api.libs.json.JsObject, data:List[(String,Int)])
@main("Data") {
	<div class = "container">
		@header("head")
		@menubar("menu")
		<div class = "row">
			<div class="col-md-6">
				<table class="table table-hover">
					@for(d <- data){
						<tr>
							<td>@d._1	</td>
							<td>@d._2	</td>
						</tr>
					}
				</table>
			</div>
			<div class="col-md-6">
			@chart(jsonData)
			
			</div>
		</div>
		@footer()
	</div>
}